<% if (Array.isArray(opt.banners) && opt.banners.length) { %>
  <% const colSize = Math.ceil(12 / opt.banners.length) 
  
   let preview = 4;
    if (opt.banners.length === 2) preview = 2;
    else if (opt.banners.length < 4) preview = opt.banners.length;
    %>
   <section class="">
      <div class="container">
        <div class="swiper tf-sw-categories"         data-preview="<%= preview %>"  data-tablet="3" data-mobile-sm="2"
          data-mobile="1" data-space-lg="14" data-space-md="15" data-space="15" data-pagination="1"
          data-pagination-sm="2" data-pagination-md="3" data-pagination-lg="4">
          <div class="swiper-wrapper">
              <% for (let i = 0; i < opt.banners.length; i++) { %>
                <div class="swiper-slide radius-8 overflow-hidden">
              
                  <%- await include('@/sections/inc/banner', { _, opt: opt.banners[i] }) %>
                </div>
              <% } %>
            </div>
          <div class="sw-dot-default sw-pagination-categories justify-content-center"></div>
        </div>
      </div>
    </section>
<% } %>
