<%
const title = opt.title || _.state.title || _.state.name
if (title) {
  %>
  <div class="page-title container mt-4 mb-4 mb-lg-5 wrap">
    <div class="page-title__head">
      <% if (_.state.logo && _.state.logo.url) { %>
        <img
          class="page-title__logo"
          src="<%= _.state.logo.url %>"
          alt="<%= _.state.logo.alt %>"
        >
      <% } %>
      <h1 class="my-0 h4 fw-semibold">
        <%= title %>
      </h1>
    </div>
    <%
    const description = opt.description || _.state.short_description
    if (description) {
      %>
      <div class="titie-sidebar-2 text-main-2">
        <%= description %>
      </div>
    <% } %>
  </div>
<% } %>
