<% if (_.state.specifications) { %>
  <section id="product-specs" class="product-specs m-0">
    <div class="container">
      <!-- <p class="lead">
        <a href="#specs" name="specs">#</a>
        <%= _.dictionary('productSpecifications') %>
      </p> -->
      <table class="table table-striped">
        <tbody>
          <% for (const gridId in _.state.specifications) {
            if (_.state.specifications[gridId]) {
              const gridTitle = _.ecomUtils.gridTitle(gridId, _.grids);
              if (gridTitle === 'store') continue;
              %>
              <tr>
                <td class="text-muted">
                  <%= gridTitle %>
                </td>
                <td>
                  <%= _.ecomUtils.specTextValue(_.state, gridId, _.grids) %>
                </td>
              </tr>
              <%
            }
          } %>
        </tbody>
      </table>
    </div>
  </section>
<% } %>
