<% if (_.state.specifications) { %>
  <section id="product-specs" class="product-specs m-0">
    <div class="container px-md-5 px-3">
      <div class="row align-items-start">
        <% for (const gridId in _.state.specifications) {
            if (_.state.specifications[gridId]) {
              const gridTitle = _.ecomUtils.gridTitle(gridId, _.grids);
              if (gridTitle === 'store') continue;
              %>
              <div class="col-12 col-md-3 mb-md-5 mb-4">
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <% if (gridId === 'nivelwine') { %>
                      <img src="/img/icons/NIVELWINE.png">
                    <% } else if (gridId === 'harmonizacao') { %>
                      <img src="/img/icons/HARMONIZACAO.png">
                    <% } else if (gridId === 'amadurecimento') { %>
                      <img src="/img/icons/amadurecimento.png">
                    <% } else if (gridId === 'vinificacao') { %>
                      <img src="/img/icons/vinificacao.png" alt="Vinificação">
                    <% } else if (gridId === 'sommelier') { %>
                      <img src="/img/icons/sommelier.png">
                      <% } else if (gridId === 'cepa') { %>
                      <img src="/img/icons/CEPA.png">
                      <% } else if (gridId === 'safra') { %>
                      <img src="/img/icons/safra.png">
                      <% } else if (gridId === 'potencialguarda') { %>
                      <img src="/img/icons/potencialguarda.png">
                      <% } else if (gridId === 'gustativo') { %>
                      <img src="/img/icons/gustativo.png">
                      <% } else if (gridId === 'vinicula') { %>
                      <img src="/img/icons/vinicula.png">
                      <% } else if (gridId === 'olfativo') { %>
                      <img src="/img/icons/OLFATIVO.png">
                      <% } else if (gridId === 'teor') { %>
                      <img src="/img/icons/teor.png">
                      <% } else if (gridId === 'tempservir') { %>
                      <img src="/img/icons/tempservir.png">
                      <% } else if (gridId === 'uva') { %>
                      <img src="/img/icons/uva.png">
                      <% } else if (gridId === 'visual') { %>
                      <img src="/img/icons/VISUAL.png">
                      <% } else if (gridId === 'vale') { %>
                      <img src="/img/icons/vale.png">
                      <% } else if (gridId === 'classwine') { %>
                      <img src="/img/icons/classwine.png">
                      <% } else if (gridId === 'tipovinho') { %>
                      <img src="/img/icons/tipovinho.png">
                    <% } else { %>
                      
                    <% } %>
                    
                  </div>                
                  <div class="col">
                    <div class="spec-title text-muted">
                      <%= gridTitle %>
                    </div>
                    <div class="spec-value">
                      <%= _.ecomUtils.specTextValue(_.state, gridId, _.grids) %>
                      
                    </div>
                  </div>
                </div>
                
              </div>
              <%
            }
          } %>
      </div>
      
    </div>
  </section>
<% } %>
